# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Database temporary files
*.db-wal
*.db-shm
ctf.db

# Logs & Backups
*.log
workshop_results_*.csv
LIVE_LINK.txt

# OS metadata
.DS_Store
Thumbs.db
